doctype html
html
  head
    title Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
            //li #[a(href="/update") Update]
            
    block content
    footer#footer
                | Created by Sk Anarul-026 | All rights reserved | MCA-25 |